*-*-*.def
*.a
*.bak
*.dSYM
*.dmyh
*.dylib
*.elc
*.inc
*.log
*.o
*.orig
*.rej
*.sav
*.swp
*.trs
*~
.*-*
.DS_Store
.ccmalloc
.svn
Makefile
Makefile.in
Makefile.old

/Doxyfile
/GNUmakefile
/GNUmakefile.old
/TAGS
/archive
/autom4te*.cache
/automake
/breakpoints.gdb
/config.cache
/config.h
/config.h.in
/config.status
/config.status.lineno
/configure
/aclocal.m4
/stamp-h1
.deps

sha???hl.c
signify
signify.1.gz
